/*informacion html*/
/*logo info*/
.Logoprincipalinfo{
    display: flex;
    border-radius: 60%;
}
/*div general*/
.divinfogeneral{
    display: flex;
    margin: 30px 30px 30px 30px;
    text-align: center;
    
}

/*titulos*/
.titulosinfo{          
                        border: black;
                       border-spacing: 2px;
                       font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

/*imagenes*/
.imagenesinfo{
    display: flex;
    margin: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px
}

/*enlace del final de la pagina*/
.volvershop{
    display: flex;
    justify-content: center;
    align-items: center;
}