/*shop html*/
.Logoprincipalshop{
    display: flex;
    border-radius: 60%;
}
/*titulo shop*/
.deportetituloshop{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 30px 20px 30px;
    font-size: 70px;
}

/*precio color*/
.colorprecio{
    color: black;
    
}
/*color texto desplegable*/
.colortextodes{
    color: rgb(124, 97, 7);
}

/*texto animacion */
.description{
    height: 25px;
    overflow: hidden;
    transition: height .3s ease-in .3s;
  }

.description:hover{
    height: 80px;
  }

  /*titulo producto*/
  .colornombrepro{
    text-decoration: underline;
  }