/*shop html*/
.Logoprincipalshop{
    display: flex;
    border-radius: 60%;
}
/*titulo shop*/
.deportetituloshop{
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 30px 30px 30px;
    font-size: 50px;
}

/*precio color*/
.colorprecio{
    color: black;
}